*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: monospace;
}
*:focus{
    border: none;
    outline: none;
}
a{
    color: unset;
}
header{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
}
/* navbar styles */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px opx;
    width: 90%;
    margin: 0px auto;
    
    
}
nav .nav-item{
    color: #fff;
    margin: 0px 10px;
    margin-top: 30px;
}
nav div.container{
    display: flex;
    justify-content: space-between;
}
nav div.nav-item.app{
    font-size: 0.9rem;
    font-weight: 200;
}
nav div.nav-item {
    font-size: 1.2rem;
    font-weight: 200;
}
header div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
    margin: 0px auto;

}
header img.logo{
    width: 300px;
}
header h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}
/* header content */
header div.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;

}
div.search-box div{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
}
header div.search-box i{
    margin: 10px;
}
header div.search-box div.select i{
    color: #F57082;
}
header div.search-box div.input i{
    color: #828282b7;
}
header div.search-box div.seperator{
    height: 50%;
    background-color: #8282829b;
    width: 2px;
}
header div.search-box div.input{
    flex-grow: 80;
    
}
header div.search-box div.input input{
    width: 100%;
}
/* header section comlete */
/* near by section */
section.near-by{
    min-height: 40vh;
    
}
section.near-by div.container{
    width: 90%;
    margin: 0px auto;
    
    text-align: center;
    padding: 40px opx;
}
section.near-by div.container h3{
    font-size: 2.3rem;
    font-weight: unset;
}
/* header section completed */
/* near by section */
section.nearby{
    min-height: 40vh;
    
}
section.nearby div.container{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0px;
} 
section.nearby div.container h3{
    font-size: 2.2rem;
    font-weight: unset;
}
section.nearby  div.box{
    display: flex;
    flex-direction:row ;
    max-width: 25%;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section.nearby  div.box:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* app section */
section.app{
    min-height: 300px;
    background-color: #fefbf6;

}
section.app div.container{
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
section.app div.container img{
    display: block;
    max-width: 300px;
}
section.app div.container div.form{
    max-width: 485px;

}
section.app div.container div.form h1{
    font-size: 3rem ;
    font-weight: unset;
}
section.app div.container div.form small{
    display: block;
    font-size: 1.1 rem ;
    font-weight: 100;
    color: #393737;
    margin: 20px 0px;

}
section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px; 
}
section.app div.input input{
    flex-grow: 70;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    font: 1.2rem;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 100%;
}
section.app div.input button{
    height: 100%;
    background-color: #ed5a6b;
    border-radius: 10px;
    color: #cfcfcf;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 100;
}
section.app div.form div.download{
    margin: 20px 0px;
    font-weight: 100;
    color: grey;

}
section.app div.form div.download img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px ;
}